/*Heading*/

#head {
    background-color: #8D49A5;
}

#links {
    color: white;
    text-decoration: none;
    outline: none;
}

#links:hover {
    background-color: #711B8F;
}


/*MainBanner*/

#mainBanner {
    color: white;
    height: 88vh;
    background-color: #710897;
}

#bannerContent {
    position: relative;
    left: 8%;
}

.btn {
    color: black;
    background-color: #EFFFFB;
    border: none;
    text-decoration: none;
}

.btn:hover {
    color: white;
    background-color: #8D49A5;
}


/*MainCard*/

#maincardParent {
    height: auto;
    background-color: #8D49A5;
}

#cardChild {
    width: 100%;
}

.card {
    background-color: #B7C6C3;
}

.img {
    width: 100%;
}

.list-group .list-group-item {
    border: none;
    background-color: #B7C6C3;
}


/*SubCard*/

#subcardParent {
    height: auto;
    background-color: #8D49A5;
}

#subCard__header,
#subCard__letter {
    color: white;
}


/*Footer*/

footer {
    color: white;
    width: auto;
    height: auto;
    background-color: #8D49A5;
}

#footer__letter {
    width: 75%;
}